:root {
    --bg-color: rgb(215, 245, 243);
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.modal-bg {
    position: fixed;
    /* display: none; */
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.401);
}

.modal {
    border: 1px solid black;
    border-radius: 3px;
    width: clamp(240px, 75%, 400px);
    margin: 20vh auto;
    background: white;
    padding: 5px;
    box-shadow: 1px 1px 3px 0px #5d4b4b;
    background-color: var(--bg-color);
}

.scale {
    animation: scale 0.1s ease;
}

@keyframes scale {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

input[type='text'],
input[type='number'] {
    height: 20px;
}

input[type='radio'] {
    transform: scale(1.3);
}

input[type='radio'] {
    cursor: pointer;
}

.text-input{
    display: grid;
}

.submit-book {
    height: 26px;
    background-color: #bdfbbd;
    border-radius: 3px;
    border: 2px solid #5ab590;
}

.submit-book:hover {
    background-color: #b8f4b8;
}

.radio {
    margin-left: 10px;
    display: flex;
    gap: 15px;
}

.submit-book {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    background-color: var(--bg-color);
    box-shadow: 0 0 4px 0 #728ca6;
    z-index: 1;
}

.logo {
    font-size: 48px;
    font-weight: bolder;
    margin-left: 5px;
}

.user {
    margin-right: 5px;
}

.bookshelf {
    flex: 1;
    overflow: scroll;
    background-color: var(--bg-color);
    margin-bottom: 8px;
}

.book {
    border: 1px solid rgb(0, 255, 247);
    margin: 15px;
    background: linear-gradient(to right bottom,white, rgb(123, 255, 0) 70%, rgb(0, 255, 247) 90%);
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0px #5d4b4b;
    padding: 5px 5px 1px 5px;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

.book-buttons {
    width: clamp(86px, 30%, 120px);
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #69ca43;
    background: none;
    border: none;
}

.read:hover {
    background-color: rgb(238, 236, 144);
    color: rgb(124, 128, 0);
    border: 2px solid rgb(200, 201, 119);
}

.unread:hover {
    background-color: lightgreen;
    color: green;
    border: 2px solid rgb(119, 201, 119);
}

.remove:hover {
    background-color: rgb(210, 169, 169);
    color: rgb(164, 71, 71);
    border: 2px solid rgb(201, 149, 149);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--bg-color);
    box-shadow: 0px -20px 20px 0px rgb(215, 245, 243);
}

.add {
    transform: scale(0.5);
    position: relative;
    bottom: 10px;
    cursor: pointer;
}